* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.cards-title {
  font-size: 48px;
  font-family: 'Roboto', serif;
  color: rgb(81, 81, 81);
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  margin: 110px 0px 110px 0px;
}
.cards-title::after {
  content: '';
  width: 164px;
  height: 7px;
  background-color: rgb(26, 188, 156);
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

/*technical*/

.header {
  margin-top: 40px;
  margin-bottom: 40px;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.header-logo {
  font-size: 30px;
  font-family: 'Roboto', serif;
  color: rgb(81, 81, 81);
  line-height: 32px;
  letter-spacing: 0.6px;
  float: left;
}
.nav-list {
  float: right;
  margin-top: 6px;
}
.nav-list-item {
  float: left;
}
.nav-list-item:not(:last-child) {
  margin-right: 30px;
}
.nav-list-link {
  font-family: 'OpenSans', sans-serif;
  color: rgb(81, 81, 81);
  font-size: 14px;
  line-height: 12px;
  font-weight: bold;
  letter-spacing: 0.28px;
}

.nav-list-link:hover {
  color: rgb(26, 188, 156);
}
.header-logo:hover {
  color: rgb(26, 188, 156);
}

/* header */

.featured-products {
}

.card {
  width: 250px;
  height: 320px;
  margin-bottom: 30px;
  float: left;
  background: linear-gradient(
    to right,
    rgb(32, 32, 32) 78%,
    rgba(59, 58, 58, 0.514) 22%
  );
}
.card-name {
  color: rgb(255, 255, 255);
  float: left;
  font-family: 'OpenSans', sans-serif;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.36px;
  text-decoration: none;
  padding: 8px;
}
.card-price {
  color: rgb(255, 255, 255);
  float: right;
  font-family: 'OpenSans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px;
  margin-right: 8px;
}
li .card:hover {
  color: rgb(26, 188, 156);
}

.link-item {
  display: block;
  padding: 4px;
  box-sizing: border-box;
}
.link-item {
  display: block;
  box-sizing: content-box;
}
.card:last-child {
  margin: 0;
}
.card:not(:nth-child(4n)) {
  margin-right: 30px;
}
.card:last-child {
  margin: 0;
}
/*NEWS*/
.news {
  margin-bottom: 80px;
}
.wrapper {
  margin-right: 30px;
  float: left;
}
.wrapper:last-child {
  margin: 0;
}
.title-news {
  width: 301px;
  color: #555252;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}
.title-news::after {
  content: '';
  display: block;
  width: 136px;
  height: 3px;
  margin-top: 14px;
  background-color: rgb(26, 188, 156);
}
.descript-news {
  margin: 0;
  width: 330px;
  color: #555252;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.28px;
  margin-bottom: 10px;
  padding-top: 20px;
}
.button-news {
  width: 160px;
  height: 51px;
  background-color: rgb(26, 188, 156);
  border-radius: 7px;
}
.btn-link {
  width: 74px;
  height: 14px;
  color: #ffffff;
  font-size: 16px;
  font-weight: Light;
  line-height: 26px;
}
/*news*/
